* {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.header {
    background-color: grey;
    padding: 30px 0 30px 0;
}

.header p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 425px;
    margin: auto;
    text-align: center;
    background-color: transparent;
}


.input-block {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    width: 300px;
}

.remove-btns {
    margin: auto;
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.remove-btns button {
    width: 80px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.remove-btns button:focus {
    background-color: lightgrey;
}


.df {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

.blocky {
    width: 133px;
    height: 133px;
}

.input {
    border-radius: 5px;
}

.block-line {
    display: flex;
    flex-direction: row;
}

.block-line2 {
    display: flex;
    flex-direction: row;
}

.operator-btns {
    margin: auto;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.input {
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 80px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.btn:focus {
    background-color: lightgrey;
    transition: all 0.1s ease-in-out;
}

.result-block {
    margin-top: 25px;
}

.result-btn {
    margin: auto;
    width: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-btn button {
    background-color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.result-p {
    margin: auto;
    width: 95px;
}

.result-q {
    margin: auto;
    width: 133px;
}

.result-line {
    display: flex;
    flex-direction: row;
}

.result{
    height: 31.6px;
    width: 31.6px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------- */

.title-determinant {
    margin: auto;
    width: 100%;
    background-color: gray;
    margin-top: 50px;
}

.title-determinant p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: transparent;
    text-align: center;
    padding: 10px 0 10px 0;
}

.determinant-block {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.determinant-btn {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.determinant-btn button{
    background-color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 5px;

}

.determinant-result {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.determinant {
    width: 64px;
    height: 32px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------- */

.deter-block {
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block2 {
    width: 133px;
    height: 133px;
}

.formula {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px;
}

.formula p {
    background-color: transparent;
    width: 380px;
    margin: auto;
    padding-top: 10px;
}


@media (max-width:430px ) {
    .header p{
        font-size: 24px;
        width: 325px;
        text-align: center;
    }

    .title-determinant p{
        font-size: 24px;
    }

    .result-btn {
        margin-bottom: 20px;
    }

    .title-determinant {
        margin-top: 20px;
    }

    .determinant-block {
        width: 300px;
    }

    .deter-block {
        width: 300px;
    }

    .determinant-btn button {
        width: 75px;
    }

    .formula {
        width: 300px;
    }

    .formula p{
        width: 290px;
    }
}